<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type='image/ico' href="/favicon.ico"/>
    <meta name="robots" content="index, follow" />
    <title>سما هوشمند ایرانیان</title>
    <meta name="description" content="شرکت سما هوشمند به عنوان یکی از فعال ترین شرکت های تامین کننده تجهیزات حفاظتی و هوشمند سازی از قبیل دوربین مدار بسته و دزدگیر است">
    <meta name="keywords" content="سما هوشمند ایرانیان, دوربین مداربسته, دزدگیر">
    <link rel="stylesheet" href="../style/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
</head>
<body>
    
<div class="page-banner">
    <i class="fas fa-info-circle"></i>
    <h1 class="title">درباره ما</h1>

</div>
<div class="page-vector">
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="auto" viewBox="0 0 1920 57.63">
        <path id="svgexport-1" d="M0,39.833V55.554C106.667,49.362,426.667,24.29,640,24.29s441.568,25.392,654.9,29.533c94.933,1.774,210.753,7.6,319.487,0C1750.553,44.308,1830.453,35.549,1920,32.35V0H0Z" fill="#2c2c38"/>
      </svg>
</div>

<main class="about-us">
    <article class="start">
        <h3 class="title">شروع سما هوشمند</h3> <hr>
        <p class="description">
            شرکت سما هوشــمند ایرانیان در نظر دارد فعالیت خود را در زمینه سیــستم های نظارتی حفاظتی و ایمنی (دوربین مداربـــــسته – سیستم اعلام حریق – سیستم اعلام سرقت - ساختمان های هوشمند و...) به کارفرمایان محترم  به بهترین نحو ارائه دهد.به همین منظور این شـــــرکت در دسترسی به اهداف بلند مدت خود از افراد متخصص و حرفه ای که تجربه های اجرایی فوق الــعاده چه در زمینه طراحی و نظارت و چه در زمینه نصب و راه اندازی پروژه ها را دارند برای جـلب رضایت کارفرما به کار گرفته است .
            مدیریت این مجموعه در درجه اول رضایت کارفرما را سر لوحه خدمات این شرکت قرار داده است و بر این اعتقاد است حفظ اصول و قواعد عملیاتی در هر زمینه باعث رشد روز افزون هر مجموعه ای میشود.
        </p>
    </article>

    <article class="activity">
        <h3 class="title">حوزه فعالیت شرکت</h3> <hr>
        <p class="description">
            <ul class="to-do">
                <li><i class="fas fa-check"></i>دوربین مداربسته</li>
                <li><i class="fas fa-check"></i>سیستم اعلام سرقت</li>
                <li><i class="fas fa-check"></i>سیستم اعلام حریق</li>
                <li><i class="fas fa-check"></i>ساختمان های هوشمند</li>
                <li><i class="fas fa-check"></i>برق ساختمان و مجتمع های اداری و تجاری</li>
                <li><i class="fas fa-check"></i>شبکه</li>
                <li><i class="fas fa-check"></i>سانترال</li>
                <li><i class="fas fa-check"></i>مشاوره ,طراحی و جانمایی تجهیزات حفاظتی و ایمنی</li>
            </ul>
    </article>

    <article class="certificate">
        <h3 class="title">برخی از مجوز های ما</h3> <hr>
        <div class="section-card">

            <div class="card">
                <img src={%static "./img/certificates/ims.jpg"%} alt="certificate" class="image">
                <h4 class="title">ISO IMS</h4>
            </div>

            <div class="card">
                <img src={%static "./img/certificates/9001.jpg"%} alt="certificate" class="image">
                <h4 class="title">ISO-9001</h4>
            </div>

            <div class="card">
                <img src={%static "./img/certificates/45001.jpg"%} alt="certificate" class="image">
                <h4 class="title">ISO-45001</h4>
            </div>

            <div class="card">
                <img src={%static "./img/certificates/21500.jpg"%} alt="certificate" class="image">
                <h4 class="title">ISO-21500</h4>
            </div>

            <div class="card">
                <img src={%static "./img/certificates/14001.jpg"%} alt="certificate" class="image">
                <h4 class="title">ISO-14001</h4>
            </div>

            <div class="card">
                <img src={%static "./img/certificates/10004.jpg"%} alt="certificate" class="image">
                <h4 class="title">ISO-10004</h4>
            </div>
        </div>
    </article>
</main>

<div class="page-contact-us">
    <h2 class="title">پروژه دارین؟</h2>
    <p class="description"> از طریق دکمه زیر با مشاورین سما هوشمند در ارتباط باشین</p>
    <div class="btn"><a href="/contact-us">تماس با ما</a></div>
</div>

</body>
</html>